

/***** Title section ******/
body {
  font-family: 'Montserrat';
}

#title {
  background-color: #ff4c68;
  position: relative;
  z-index: 1;
  height: 650px;

}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
  color: white;
}
 .container-fluid {
   padding: 3% 15%;

 }
.navbar-brand {
  font-family: 'Ubuntu'
}
 .navbar {
   padding-bottom: 4.5rem;
 }
 .nav-item {
   padding: 0 18px;
 }
.download-button
{
  margin: 5% 3% 5% 0;
}
.title-image {
  width: 60%;
  transform: rotate(20deg);
  padding-left: 5%;
  position: relative;
  z-index: 2;

}




/***** Features section *****/


#features {
  padding: 7% 15%;
  background-color: white;
  position: relative;
  z-index: 3;

}
.features-image {
  color: #ef8172;
  font-size: 4rem;
  padding-bottom: 6%;
}

.features-item {
  padding: 4%;
}
h3 {
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 1.5rem;
}

p {
  color: #8f8f8f;
}
.features-image:hover {
  color: #ff4c68;
}

/***** Testimonials Section ******/
#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: white;
}
 h2 {
   font-family: 'Montserrat';
  font-weight: 600;
   font-size: 2.5rem;
   line-height: 1.5;


 }

 .testimonials-image {
   width: 10%;
   border-radius: 100%;
   margin: 20px;
 }

 #press {
   background-color: #ef8172;
   padding-bottom: 3%;
   text-align: center;
 }

 .press-logo {
   width: 15%;
   margin: 20px 20px 50px;
 }

 #carousel-testimonials {
   margin: 0 5%;
 }

.carousel-item {
  padding: 7% 15%;
}

/********** Pricing Section **********/

#pricing {
  padding: 100px;
  text-align: center;

}

.pricing-heading{
  font-weight: bold;
  font-size: 3rem;
}
.btn-outline {
  border-color: #2E292D;
  color: #2E292D;
  background-color: white;

}
.botton-with-color {
  background-color: #2E292D;
  color: white;
}

.btn-outline:hover {
  background-color: #ef8172;
}

.botton-with-color:hover {
  border-color: #2E292D;
  background-color: #ef8172;
}
.pricing-column {
  padding: 3% 3%;
}

/******* CTA Section  ********/
 #cta {
   text-align: center;
   background-color: #ff4c68;
padding: 7% 17%;
 }

.h3-in-cta {
  font-size: 3rem;
  color: white;
}

#footer {
  text-align: center;
  padding: 6% 0 4% 0;
}
.footer-image {
  padding: 1%;
}

.coryright-text {
  padding: 1%;
  font-size: 0.8rem;
}

@media (max-width: 1123px) {
  #title{

    text-align: center;

  }

  .title-image{

  position: static;

  transform: rotate(0);

  width: 60%;
  }

  #title {
    height: 1110px;
}
}
